* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(4, minmax(150px, 1fr));
}

.header {
    background-color: antiquewhite;
    grid-area: 1/2/2/5;
}

.main {
    background-color: rgb(143, 120, 86);
    grid-area: 2/2/5/4;
}

.article {
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    grid-area: 2/4/5/5;
}

.announcement {
    background-color: rgb(54, 40, 131);

}

.trending {
    background-color: rgb(127, 255, 155);
   
    
}

.sidebar {
    background-color: rgb(255, 255, 2);
    grid-area: 1/1/5/2;
}

