* {
    margin: 0;
  
}

body {
    background-color: #cfdada75;
  
}

.container {
    display: grid;
    grid-template-columns: clamp(160px, 200px 1fr)) repeat(3, minmax(150px, 1fr));
    grid-template-rows: minmax(50px, 0.5fr)) repeat(4, minmax(150px, 1fr));
    
}

.header {
    background-color: #FFFFFF;
    grid-area: 1/2/2/5;
    height: 100%;
}

.headbar {
  display: flex;
  gap: 1em;
  margin: 1em 1em 1em 2em; 
}

input {
  background-color: #cfdada75;
  border: none;
  border-radius: 2em;
  width: 35em;
  height: 2em;
  padding: 1em;
}

.profile {
  display: flex;
  gap: 1em;
  margin: 1em 3em 1em 1em;
}

#profile-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 3em 1em 2em;
}

.welcome {
  display: flex;
}

#profile-icon2 {
  display: flex;
  gap: 1em;
}

#welcome-text {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

#profile-name-text {
  font-weight: 900;
  font-size: 1.3rem;
}

.btn {
  background-color: rgb(94, 223, 255);
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 6em;
  border-radius: 2em;
  color: white;
  margin: 0 0.5em 0 1em;
  height: 2.5em;
  font-weight: 700;
}

.btn:hover{
  
}

.btn:active {
  
}


.main {
  display: grid;
  grid-area: 3/2/5/4;
  grid-template-rows: minmax(150px, 1fr));
  background-color: #cfdada75;
}

#projects-text {
  display: flex;
  align-items: end;
  margin-left: 1em;
  margin-bottom: -2.7em;
  padding-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
    
}

.block-system {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: repeat(3, minmax(150px, auto));
  gap: 1em;
  margin: 3em 1em;
}

.blocks {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 1rem;
  padding: 1.5em 1em 2em;
  border-left: 0.4em solid orange;
  border-radius: 0.5em;
  
}

.block-icons {
  display: flex;
  gap: 1.5em;
  justify-content: end;
  margin-top: auto; 
  padding: 1em 1em 0 0;
}

.article {
    display: grid;
    grid-template-rows: minmax(150px, 1fr));
    grid-area: 2/4/5/5;
    background-color: #cfdada75;

}

#announcement-text {
  display: flex;
  align-items: end;
  margin-bottom: -2.7em;
  margin-top: -50em; 
  padding-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
}

.announcement {
    margin: 3em 1.5em 0em 0;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    padding: 1.5em;
   
}

.article-header2,
.article-header3 {
  border-top: 1px solid grey;
  padding-top: 1em;
}

.announcement> p {
  padding-bottom: 1em;
}

#trending-text {
  display: flex;
  align-items: end;
  padding-bottom: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
}

.trending {
    margin: 0em 1.5em 3em 0;
    background-color: #FFFFFF; 
    border-radius: 0.5em;
    padding: 1.5em;
}

.first-row {
  display: flex;
}

.first-item {
  padding: 0.5em;
}

.first-para {
  color: grey;
  font-size: 0.9rem;
}

.sidebar {
    background-color: rgb(94, 223, 255);
    grid-area: 1/1/6/2;
    width: 14rem;
    color: white;
    font-weight: 700;
    font-size: 1.2rem
}

.upper-head {
  display: flex;
  justify-content: space-between;
}

.upper-sidebar {
  margin: 2em 1em 1em 1em;
}

.bottom-sidebar {
  margin: 3em 1em 1em 1em;
}

.dashboard {
  display: flex;
  margin: 0.5em 0.5em 2em 0;
  gap: 1em;
}

.home {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.profile-sidebar {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.messages {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.history {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.tasks {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.communities {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.settings {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.support {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}

.privacy {
  display: flex;
  margin-bottom: 0.5em; 
  padding-bottom: 0.25em;
  gap: 1em;
}
